[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-webpack-loader = "*"
django-environ = "*"
pandas = "*"
xlrd = "*"
numpy = "*"
django-rest-knox = "*"
psycopg2-binary = "*"
pylint = "*"
gunicorn = {extras = ["gevent"],version = "*"}
django-extensions = "*"
jupyter = "*"
ptvsd = "*"
requests = "*"
django-redis = "*"
redis = "*"
pip = "*"
ftfy = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
