[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
rope = "*"

[packages]
djangorestframework = "*"
django-webpack-loader = "*"
django-environ = "*"
pandas = "*"
xlrd = "*"
numpy = "*"
django-rest-knox = "*"
psycopg2-binary = "*"
pylint = "*"
gunicorn = "*"
django-extensions = "*"
jupyter = "*"
asn1crypto = "*"
astroid = "*"
attrs = "*"
backcall = "*"
bleach = "*"
cffi = "*"
cryptography = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
isort = "*"
jedi = "*"
jsonschema = "*"
lazy-object-proxy = "*"
mccabe = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
ptyprocess = "*"
pycparser = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
six = "*"
sqlparse = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
typed-ast = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
wrapt = "*"
prometheus_client = "*"
ptvsd = "*"
requests = "*"
djangorestframework-bulk = "*"
gevent = "*"
celery = "*"
redis = "*"
django-redis = "*"
pip = "*"
amqp = "*"
appnope = "*"
billiard = "*"
certifi = "*"
chardet = "*"
greenlet = "*"
idna = "*"
kombu = "*"
urllib3 = "*"
vine = "*"
Django = "*"
ipython_genutils = "*"
Jinja2 = "*"
jupyter_client = "*"
jupyter_console = "*"
jupyter_core = "*"
MarkupSafe = "*"
prompt_toolkit = "*"
Pygments = "*"
Send2Trash = "*"
ftfy = "*"

[requires]
python_version = "3.7"
